
<mat-card>


  <!--<form [formGroup]="form" (ngSubmit)="onSubmit()" >
-->

   Enter Your Name:-  <input [(ngModel)]="inputValue" placeholder="Name"/>
  <button mat-raised-button color="primary"><a routerLink="/landing">Go To Landing Page</a></button>
    <!-- <pre> <mat-form-field>
      Enter Your Name:-<input matInput formControlName="name" placeholder="Name">
     </mat-form-field></pre>-->
  <!--<mat-card-actions >
      <button mat-raised-button color="primary">Go To Landing Page</button>
      <ng-content></ng-content>
    </mat-card-actions>



  </form>
-->


</mat-card>
